@media screen and (max-width: 1024px) {
    
    .header {
        width: 100%;
        height: inherit;
    }

    .header__menu {
        margin-right: 60px;
    }

    .header__menu ul {
        display: block;
    }

    .main {
        margin-top: 30px;
    }
    .main__title {
        font-size: 1.5em;
    }
    .input {
        margin-top: 10px;
    }

    .carousel {
        display: block;
        padding: 30px 0px 10px;
        width: 100%;
    }

    .carousel-item {
        width: 200px;
        margin: 0px 10px 40px;
    }

    .carousel-item__img {
        width: 200px;
    }

    .carousel__container {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .carousel-item:hover ~ .carousel-item {
        transform: translate3d(20px, 0, 0);
      }
      
      .carousel__container:hover .carousel-item {
        opacity: .3;
      }
      
      .carousel__container:hover .carousel-item:hover {
        transform: scale(1.2);
        opacity: 1;
      }

}
@media screen and (max-width: 768px) {

    .carousel-item {
        width: 150px;
        height: 200px;
        margin: 0px 10px 20px;
    }

    .carousel-item__img {
        width: 150px;
        height: 200px;
    }
}
@media screen and (max-width: 480px) {
    .header__img {
        width: 200px;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .header__menu {
        margin-right: 45px;
        margin-top: -10px;
    }

    .carousel-item__detail {
        padding: 0px 15px 20px;
        font-size: 1em;
    }
}
@media screen and (max-width: 320px) {
    .header__img {
        width: 130px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .header__menu {
        margin-right: 40px;
        margin-top: 10px;
    }

    .header__menu p {
        font-size: .8em;
    }

    .header__menu-profile img {
        width: 35px;
    }

    ul li {
        font-size: .9em;
    }

    .carousel-item {
        width: 230px;
        height: 280px;
        transition: 450ms all;
        transform-origin: center;
    }

    .carousel-item__img {
        width: 230px;
        height: 280px;
        object-fit: cover;
    }
      
    .carousel-item:hover ~ .carousel-item {
        transform: translate3d(0, 0, 0);
      }
      
      .carousel__container:hover .carousel-item {
        opacity: .3;
      }
      
      .carousel__container:hover .carousel-item:hover {
        transform: scale(1.1);
        opacity: 1;
      }
}